article {
  position: relative;
  width: 110px;
  height: 70px;
  margin-right: 10px;
  float: left;
  border-radius: 7px;
  box-sizing: border-box;
  text-align: center;
  /* border: 1px solid white; */
}

article div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 25px;
  transition: 0.5s ease;
}

article input {
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 100px;
  opacity: 0;
}

article input:enabled {
  cursor: pointer;
}

input[type="checkbox"]:checked ~ div {
  background-color: #0d6efd;
}

input[type="checkbox"]:checked:disabled ~ div,
input {
  background-color: #1e4ca1;
  border-radius: 7px;
}
input[type="checkbox"]:disabled ~ div,
input {
  color: darkgray;
  border-radius: 7px;
}
input[type="checkbox"]:enabled ~ div,
input {
  color: white;
  border-radius: 7px;
}
input[type="checkbox"]:disabled ~ div {
  border: 1px solid darkgray;
}

input[type="checkbox"]:enabled ~ div {
  border: 1px solid white;
}
